# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
env/

# IDEs
.vscode/
.idea/

# Logs
*.log

# System
.DS_Store
Thumbs.db

# Database (if local)
*.db

# Pytest cache
.pytest_cache/